body{
    text-align:justify;
    margin-right: 3%;
}
h1 {
    font-size: 60px;
    color: rgb(255, 0, 0);
    text-align: center;
    border-radius: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: rgba(255, 0, 0, 0.845);
    font-size: 50px;
    text-align: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
p {
    margin-top: 2%;
    margin-left: 50px;
    font-size: 22px;
}
ul li {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 25px;
}
#titulo{
    animation-name: mudar_cor;

    animation-duration: 6s;
    
    animation-iteration-count: infinite;
}
@keyframes mudar_cor {
    0% { background-color: green; color:rgb(0, 255, 247) }

    25% { background-color: rgb(0, 225, 255); color:blue }

    50% { background-color: blue; color:white }

    75% { background-color: white; color: green }

    100% { background-color: green; color:rgb(0, 213, 255) }
}
img{
    margin-left: 30%;
    width: 40%;
    text-align: center;
}