
body{
    background-image: url("imgs/papelparede.jpg");
    color: white;
    background-repeat: no-repeat;

}
#sistemasolar{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
#stellarium{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    text-align: center;
}
#partedebaixo{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
    justify-content: center;
    display: flex;

}
#simples {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: aquamarine;
    float: inline-end;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}
#tabela{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 182, 127);
    float: inline-end;
    display: flex;
    justify-content: right;
}
.tdemais{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(9, 204, 139);
    float: inline-end;
    display: flex;
    justify-content: left;
    margin-left: 5%;
}