
body{
    background-image: url("imgs/papelparede.jpg");
    color: white;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Work Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#bodyhtml{
    overflow: hidden;
    min-height: 100vh;
}

#sistemasolar{
    font-size: 50px;
    color: white;
    text-align: center;
    transform: translateY(20px);
  
}
#stellarium{
    font-size: 40px;
    color: aqua;
    text-align: center;
    transform: translateY(20px);
    

}
.text{
    font-size: 40px;
    color: rgb(6, 202, 199);
    justify-content: center;
    display: flex;
    opacity: 0;
    animation:fadeInText 0s 1.3s both;
    margin-top: 250px;
    margin-left: 70px;
}
.text-block{
    position: relative;
    overflow: hidden;
}

.text-block:after{
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 230px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.999);
    transform: translateX(100%);
    animation: enLargeBlock .9s .7s both, revealBlock .5s 1.3s both;
}
@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes enLargeBlock {
    from{
        width: 0%;
    }
    to {
        width: 100%;
    }
    
}
 @keyframes revealBlock {
        from {
            transform:translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
        
    }

    
 
#simples {
    font-size: 40px;
    color: aquamarine;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    animation-name: mudar_cor;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    margin-top: 40px;
    width: 350px;
    margin-left: 41%;
}
@keyframes mudar_cor {
    0% { background-color: green; color:rgb(0, 255, 247) }

    25% { background-color: rgb(0, 225, 255); color:blue }

    50% { background-color: blue; color:white }

    75% { background-color: white; color: green }

    100% { background-color: green; color:rgb(0, 213, 255) }
}

.tdemais{
    font-size: 15px;
    color: rgb(9, 132, 204);
    float: inline-end;
    padding-right: 480px;
    position: relative;
}
#asolimg {
    width:200px ;
    scale: 1.0;
}
   
#asolimg:hover img {
    transform: scale(1.1);
}
a img {
    scale: 1.0;
    padding-top: 5%;
    padding-left: 3%;
    width: 150px;
    transition: 0.5s all ease-in-out;
}
a img:hover {
    scale: 1.5;
}
.planetas{
    padding-left: 5%;
    padding-right: 5%;
}

.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 1s linear;
  opacity: 1;
  visibility: visible;
}

.desaparecido {
  opacity: 0 !important;
  visibility: hidden !important;
}

.backdrop video {
  width: 100%;
}
#Voltar{
    margin-top: 2.5%;
    margin-right: 2%;
    text-align: right;
    color: red;
}
#Voltar a {
    color: rgb(188, 36, 36);
    border: red dashed 3px;
    border: 50px;
    border-radius: 50px;
    border-color: brown;
    text-decoration: none;
}
#Voltar:hover{
    cursor: pointer;
    text-decoration: underline;
}
.solimg{
    height: 200px;
    width: 20px;
}
#voltar-topo {
    background-color: rgb(139, 139, 139);
    border-radius: 20%;
    border: 2px solid rgb(172, 20, 20);
    font-size: 35px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: sticky;
    bottom: 20px;
    left: 0;
    margin-left: 3%;
    margin-top: 50px;
    color: black;
  }

/*hover expandir planetas*/

#sol_html {
    text-align:justify;
    margin-right: 3%;   
}

#sol {
    font-size: 60px;
    color: rgb(255, 0, 0);
    text-align: center;
}
#deonde {
    color: rgba(255, 0, 0, 0.845);
    font-size: 50px;
    text-align: center;
}
#deondep {
    font-size: 22px;
    margin-left: 50px;
    
}
#curiosidadesol {
    color: rgba(255, 0, 0, 0.845);
    font-size: 50px;
    text-align: center;
}
.curiosidades ul li {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 25px;
}
.curiosidades h2 {
    color: rgba(255, 0, 0, 0.845);
    margin-left: 60px;
    font-size: 30px;
}
.curiosidades p {
    margin-left: 50px;
    font-size: 20px;
}
#solhtmlimg {
    text-align: center;
    opacity: 0.7;
}

.sol{
    margin-left: 50px;
}

.sol p {
    font-size: 22px;
}
p b {
    color: rgb(173, 148, 38);
}
#jupiter_html {
    text-align:justify;
    margin-right: 3%;   
}
/*hover expandir planetas*/

#solimg{
    width: auto;
    height: auto;
}
#planetas{
    content: 300px;
}
/*menu*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
main{
    background-color: rgb(7, 7, 7);
    box-shadow: 0 8px 32px 0 rgb(61, 43, 226);
    backdrop-filter: blur(50px);
    border: rgb(80, 79, 79);
    display: block;
    margin: 0 auto;
    width: 100%;
}
main a{
    color: white;
    display: block;
    line-height: 2.5;
    transition: 150ms ease-out;
    text-transform: capitalize;

}
main li{
    display: table-cell;
    text-align: center;
    transition: 150ms ease-out;
    width: 25%;
    position: relative;
}
main li:first-of-type{
    border-left: none;
}
main li::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transition: .1s;
    width: 0;
    height: 0;
}
main li:hover::before{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(6, 206, 199) ;
}
main li:hover a{
    color: #fff;
    transform: translateY(-0.125em);
}
main ul{
    display: table;
    width: 100%;
}
.dropdown{
    display: block;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 100%;
}
.dropdown-item{
    background: black;
    box-shadow: 0 8px 32px blue;
    border: 1px solid rgb(31, 31, 31);
    border-top: 1px solid rgb(1, 2, 2);
    border-left: none;
    backface-visibility: hidden;
    display: block;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    transition: all 300ms ease-out;
    width: 100%;
    color: #fff;
}
.dropdown-item:nth-of-type(2){
    transition-delay: 600ms;
}
.dropdown-item:nth-of-type(4){
    transition-delay: 300ms;
}
.dropdown-item:nth-of-type(5){
    transition-delay: 0ms;
}
.dropdown-item:last-of-type{
    box-shadow: 0 2px 0 rgb(4, 182, 195);
}
.dropdown-item:hover a{
    background: rgb(82, 81, 81);
    transform: none;
}
.has-dropdown{
    position: relative;
}
.has-dropdown:hover .dropdown{
    height: auto;
}
.has-dropdown:hover .dropdown-item{
    background: rgb(87, 85, 85);
    box-shadow: rgb(13, 13, 13);
    border: 1px solid rgb(98, 98, 98);
    backdrop-filter: blur(50px);
    transform: perspective(350px) rotateX(0);
    transition: all 600ms cubic-bezier(1,0,0,2);
}
.has-dropdown:hover .dropdown-item a{
    transform: none;
}
.has-dropdown:hover .dropdown-item:nth-last-of-type(2){
    transition-delay: 600ms ;
}
.has-dropdown:hover .dropdown-item:nth-last-of-type(3){
    transition-delay: 1200ms ;
}
.has-dropdown:hover .dropdown-item:nth-last-of-type(4){
    transition-delay: 1800ms ;
}
/*Dados tabela*/

