
body{
    background-image: url("imgs/papelparede.jpg");
    color: white;
    background-repeat: no-repeat;

}
@font-face{
    font-family: "123";

    /*Caso a fonte esteja na mesma pasta*/
    src: url("fonte/StarJediRounded-jW3R.ttf");
}
#sistemasolar{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
#stellarium{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    text-align: center;
}
#partedebaixo{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
    justify-content: center;
    display: flex;

}
#simples {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: aquamarine;
    float: inline-end;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
#tabela{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 182, 127);
    float: inline-end;
    display: flex;
    justify-content: right;
}
.tdemais{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(9, 204, 139);
    float: inline-end;
    display: flex;
    justify-content: left;
    margin-left: 5%;
}
a img {
    width: 50px;
    padding-top: 5%;
    padding-left: 3%;
    
}
#solimg {
    width: 705px;

}