
body{
    background-image: url("imgs/papelparede.jpg");
    color: white;
    background-size: cover;


}
p::selection {
    color: rgb(189, 189, 189);
    background-color: rgb(68, 68, 68) ;
}
img::selection {
    color: rgb(189, 189, 189);
    background-color: rgb(68, 68, 68) ;
}
h1::selection {
    color: rgb(189, 189, 189);
    background-color: rgb(68, 68, 68) ;
}
h2::selection {
    color: rgb(189, 189, 189);
    background-color: rgb(68, 68, 68) ;
}
li::selection {
    color: rgb(189, 189, 189);
    background-color: rgb(68, 68, 68) ;
}
td::selection {
    color: rgb(189, 189, 189);
    background-color: rgb(68, 68, 68) ;
}
b::selection {
    color: rgb(189, 189, 189);
    background-color: rgb(68, 68, 68) ;
}
@font-face{
    font-family: "123";

    /*Caso a fonte esteja na mesma pasta*/
    src: url("fonte/StarJediRounded-jW3R.ttf");
}
#sistemasolar{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
#stellarium{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    text-align: center;
}
#partedebaixo{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
    justify-content: center;
    display: flex;

}
#simples {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: aquamarine;
    float: inline-end;
    display: flex;
    justify-content: center;
    
}
#tabela{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(234, 141, 70);
    float: inline-end;
    display: flex;
    justify-content: right;
    margin-right: 9px;
}
#tabelaimg {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(234, 141, 70);
    float: inline-end;
    display: flex;
    justify-content: right;
    margin-left: 74.2%;
    width: 220px;
    opacity: 0.6;
}
#tabelaimg:hover {
    opacity: 1.0;
    scale: 1;
    
}
.tdemais{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(9, 204, 139);
    float: inline-end;
    display: flex;
    justify-content: left;
    margin-left: 5%;
}
.planetas{
    margin-right: 40%;
}
 a img {

    padding-top: 5%;
    padding-left: 3%;
}
#solimg {width:60px ;}
#merimg{width:60px ;}
#venimg{width:60px ;}
#terraimg{width:60px ;}
#martimg{width:60px ;}
#jupimg{width:60px ;}
#satimg{width:80px ;}
#uranimg{width:60px ;}
#netimg{width:60px ;}
 a img:hover {
    
    position: relative;
    scale: 1.5;
    transition: 0.5s;
}

.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 1s linear;
  opacity: 1;
  visibility: visible;
}

.desaparecido {
  opacity: 0 !important;
  visibility: hidden !important;
}

.backdrop video {
  width: 100%;
}
#Voltar{
    margin-top: 6%;
    margin-right: 2%;
    text-align: right;
    color: red;
}
#Voltar a {
    color: rgb(188, 36, 36);
    border: red dashed 3px;
    border: 50px;
    text-decoration: none;
}
