#sol_html {
    text-align:justify;
    font-family: 'Times New Roman', Times, serif; 
    margin-right: 3%;   
}

#sol {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
    text-align: center;
}
#deonde {
    color: rgba(255, 0, 0, 0.845);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#deondep {
    font-size: 22px;
    margin-left: 50px;
    
}

#curiosidadesol {
    color: rgba(255, 0, 0, 0.845);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.curiosidades ul li {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 25px;
}
.curiosidades h2 {
    color: rgba(255, 0, 0, 0.845);
    margin-left: 60px;
    font-size: 30px;
}
.curiosidades p {
    margin-left: 50px;
    font-size: 20px;
}
#solhtmlimg {
    text-align: center;
    opacity: 0.7;
}

.sol{
    margin-left: 50px;
}

.sol p {
    font-size: 22px;
}
p b {
    color: rgb(173, 148, 38);
}