body {
    color: rgb(0, 0, 0);
    font-size: px;
}
table{
    color: white;
    text-align: center;
    border-collapse: collapse;
    border: white;
    scale: 150%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: hwb(0 30% 70% / 0.562);
}
td {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    size: 50px;
    width: 150px;
}
#topo{
    color: red;
    border: red;
}
h1 {
    margin-top: 2%;
    text-align: center;
    color: red;
    font-size: 60px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:1366px){
    table{
        scale: 0.99999;
    }
}
