
body{
    background-image: url("imgs/papelparede.jpg");
    color: white;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Work Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#bodyhtml{
    min-height: 100vh;
}

#sistemasolar{
    font-size: 50px;
    color: white;
    text-align: center;
    transform: translateY(20px);
  
}
#stellarium{
    font-size: 40px;
    color: aqua;
    text-align: center;
    transform: translateY(20px);
    

}
.text{
    font-size: 40px;
    color: rgb(6, 202, 199);
    justify-content: center;
    display: flex;
    opacity: 0;
    animation:fadeInText 0s 1.3s both;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}
.text-block{
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.text-block:after{
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 230px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.999);
    transform: translateX(100%);
    animation: enLargeBlock .9s .7s both, revealBlock .5s 1.3s both;
}
@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes enLargeBlock {
    from{
        width: 0%;
    }
    to {
        width: 100%;
    }
    
}
 @keyframes revealBlock {
        from {
            transform:translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
        
    }

    
 
#simples {
    font-size: 40px;
    color: aquamarine;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    animation-name: mudar_cor;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    margin-top: 40px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes mudar_cor {
    0% { background-color: green; color:rgb(0, 255, 247) }

    25% { background-color: rgb(0, 225, 255); color:blue }

    50% { background-color: blue; color:white }

    75% { background-color: white; color: green }

    100% { background-color: green; color:rgb(0, 213, 255) }
}

.tdemais{
    font-size: 15px;
    color: rgb(9, 132, 204);
    float: inline-end;
    padding-right: 480px;
    position: relative;
}
#asolimg {width:270px;
height: 100%;
}
#amerimg{width:110px;
    height: 50%;}
#avenimg{width:130px;
    height: 55%;}
#aterraimg{width:160px;
    height: 75%;}
#amartimg{width:150px;
    height: 70%;}
#ajupimg{width:190px;
    height: 80%;}
#asatimg{width:250px;
    height: 80%;}
#auranimg{width:155px;
    height: 77%;}
#anetimg{width:155px;
    height: 77;}
a img {
    scale: 1.0;
    padding-top: 5%;
    padding-left: 3%;
    width: 150px;
    transition: 0.5s all ease-in-out;
}
a img:hover {
    scale: 1.5;
}
.planetas{
    padding-left: 5%;
    padding-right: 5%;
}

.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 1s linear;
  opacity: 1;
  visibility: visible;
}

.desaparecido {
  opacity: 0 !important;
  visibility: hidden !important;
}

.backdrop video {
  width: 100%;
}
#Voltar{
    font-size: 35px;
    margin-top: 2.5%;
    margin-right: 2%;
    text-align: right;
    color: rgb(255, 255, 255);
}
#Voltar a {
    color: rgb(188, 178, 36);
    border: red dashed 3px;
    border: 50px;
    border-radius: 50px;
    border-color: brown;
    text-decoration: none;
}
#Voltar:hover{
    cursor: pointer;
    text-decoration: underline;
}
.solimg{
    height: 200px;
    width: 20px;
}
#voltar-topo {
    background-color: rgb(139, 139, 139);
    border-radius: 20%;
    border: 2px solid rgb(172, 20, 20);
    font-size: 35px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: sticky;
    bottom: 20px;
    left: 0;
    margin-left: 3%;
    margin-top: 50px;
    color: black;
  }

/*hover expandir planetas*/

#jupiter_html {
    text-align:justify;
    margin-right: 3%;   
}
/*hover expandir planetas*/

#solimg{
    width: auto;
    height: auto;
}
#planetas{
    content: 300px;
    display: flex;
}
/*menu*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
main{
    background-color: rgb(7, 7, 7);
    box-shadow: 0 8px 32px 0 rgb(61, 43, 226);
    backdrop-filter: blur(50px);
    border: rgb(80, 79, 79);
    display: block;
    margin: 0 auto;
    width: 100%;
}
main a{
    color: white;
    display: inline-flex;
    line-height: 2.5;
    transition: 150ms ease-out;
    text-transform: capitalize;

}
main li{
    display: table-cell;
    text-align: center;
    transition: 150ms ease-out;
    width: 15%;
    position: relative;
}
main li:first-of-type{
    border-left: none;
}
main li::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transition: .1s;
    width: 0;
    height: 0;
}
main li:hover::before{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(6, 206, 199) ;
}
main li:hover a{
    color: #fff;
    transform: translateY(-0.125em);
}
main ul{
    display: table;
    width: 100%;
}
@media (max-width:700px){
    main li {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        background: none;
    }
    main li:hover::before{
        left: 0;
        top: 0;
        background: rgb(0, 0, 0) ;
    }
}
@media (max-width:1920px){
        .planetas {
            scale: 1.0;
        }
}
@media (max-width:1660px) and (min-width:1001px){
    .planetas img{
        scale: 0.8;
        width: 50px;
        display: inline-block;
    }

}
@media (max-width:1000px){
    .planetas a{
        display:flex ;
        margin-left: auto;
        margin-right: auto;
        scale: 1.0;
    }
    a img:hover{
        scale: 1.1;
    }
}
